/* Estilos personalizados para el calendario */
.calendar-wrapper {
    background-color: #F5F5F5;
    padding: 16px 30px 30px 30px;
    border-radius: 12px;
    height: 522px;
    border:1px solid #DAD9D6;
}

/* Contenedor del calendario Air Datepicker */
.air-datepicker {
    background: #F5F5F5 !important;
    border: none !important;
    box-shadow: none !important;
    width: 100% !important;
}
.air-datepicker-nav--title i {
  font-style: normal;
  color: #FF8110 !important;
  margin-left: .3em;
}
.air-datepicker-nav--action path
{
    stroke: #FF8110 !important;
}
.air-datepicker-nav--title, .air-datepicker-nav--action {
  color: #FF8110 !important;
  font-weight: 600;
  font-size: 16px;
  font-family: var(--font-nunito-sans);
}
/* Navegación del calendario */
.air-datepicker-nav {
   
    border-radius: 8px !important;
    padding: 8px 12px !important;
    margin-bottom: 2xpx !important;
}



/* Días de la semana */
.air-datepicker-body--day-name {
    color: #5C5C5C;
    font-weight: 600 !important;
    font-size: 14px !important;
}

/* Celdas de días */
.air-datepicker-cell {
    background: #5C5C5C !important;
    color: white !important;
    border-radius: 8px !important;
    margin: 4px !important;
    font-weight: 500 !important;
    font-size: 13px !important;
}

.-disabled- {
  color: #D9D9D9 !important;
  background-color: #F5F5F5 !important;
}
.air-datepicker-cell:hover {
    background: #1ab6b6 !important;
}

/* Día seleccionado */
.air-datepicker-cell.-selected- {
    background: #1ab6b6 !important;
    color: #ffffff !important;
}

/* Día actual */
.air-datepicker-cell.-current- {
    background-color: #FF8110 !important;
  color: white !important;
}

/* Días de otros meses */
.air-datepicker-cell.-other-month- {
    opacity: 0.3 !important;
}

/* Días deshabilitados */
.air-datepicker-cell.-disabled- {
    
    cursor: not-allowed !important;
}

/* Inputs personalizados */
.calendar-wrapper input[type="text"],
.calendar-wrapper input[type="number"] {
    background-color: #EFEDE7 !important;
  color: #5C5C5C !important;
  font-weight: 500 !important;
  border: 1px solid #dadada !important;
}

.calendar-wrapper input[type="text"]::placeholder,
.calendar-wrapper input[type="number"]::placeholder {
    color: #718096 !important;
}

/* Botón Reservar personalizado */
.calendar-wrapper button[type="submit"] {
    background-color: #1ab6b6 !important;
    border: none !important;
}

.calendar-wrapper button[type="submit"]:hover {
    background-color: #FF8110 !important;
}
